<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") -%>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
            <span class="brand-text font-weight-light">Analytics</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="images/user.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">
                        <%= name %>
                    </a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid bg-gradient-secondary">
                    <div class="container">
                        <h1 class="display-4 font-weight-bold">Analytics</h1>
                        <p class="lead font-weight-bold">Based on the Human Resource Data of an Organization</p>
                    </div>
                </div>
                <div class="container">
                    <p>
                        <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                            aria-expanded="false" aria-controls="multiCollapseExample1">Polar Area
                            Graph</a>
                        <button class="btn btn-info" type="button" data-toggle="collapse"
                            data-target="#multiCollapseExample2" aria-expanded="false"
                            aria-controls="multiCollapseExample2">Bar Graph</button>
                        <button class="btn btn-info" type="button" data-toggle="collapse"
                            data-target="#multiCollapseExample3" aria-expanded="false"
                            aria-controls="multiCollapseExample3">Doughnut Chart</button>
                        <button class="btn btn-info" type="button" data-toggle="collapse"
                            data-target="#multiCollapseExample4" aria-expanded="false"
                            aria-controls="multiCollapseExample4">Line Graph</button>
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target=".multi-collapse"
                            aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle All
                            Graps</button>
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body" style="height: 30rem;">
                                    <canvas id="myChart1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body" style="height: 30rem;">
                                    <canvas id="myChart2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="collapse multi-collapse" id="multiCollapseExample3">
                                <div class="card card-body" style="height: 30rem;">
                                    <canvas id="myChart3"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="collapse multi-collapse" id="multiCollapseExample4">
                                <div class="card card-body" style="height: 30rem;">
                                    <canvas id="myChart4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>

    <%- include("partials/footer") -%>


        <script>
            const ctx1 = document.getElementById('myChart1');
            const ctx2 = document.getElementById('myChart2');
            const ctx3 = document.getElementById('myChart3');
            const ctx4 = document.getElementById('myChart4');
            var data = []
            var labels = []
            for (var x of '<%= dataSet %>'.split(',')) {
                data.push(x);
            }
            for (var x of '<%= labels %>'.split(',')) {
                labels.push(x);
            }
            var dataObj = {
                labels: labels,
                datasets: [{
                    label: "Employees",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#34d8eb", "#00bfff", "#bf00ff", "#ffbf00", "#ffb3b3", "#1C9151", "#73911C", "#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#34d8eb", "#00bfff", "#bf00ff", "#ffbf00", "#ffb3b3", "#1C9151", "#73911C"],
                    data: data
                }]
            }
            var optionsObj = {
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
            new Chart(ctx1, {
                type: 'polarArea',
                data: dataObj,
                options: optionsObj
            });
            new Chart(ctx2, {
                type: 'bar',
                data: dataObj,
                options: optionsObj
            });
            new Chart(ctx3, {
                type: 'doughnut',
                data: dataObj,
                options: optionsObj
            });
            new Chart(ctx4, {
                type: 'line',
                data: dataObj,
                options: optionsObj
            });
        </script>

        </body>

</html>